In [83]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
pd.set_option('display.max_columns',None)

import geopandas as gpd
gpd.options.use_pygeos = True

from tqdm.auto import tqdm
import matplotlib.pyplot as plt
import seaborn as sns

# 유동인구

In [85]:
flow = pd.read_csv('./data/flow_pop/yeosoo_202501.repair/yeosoo_flow_age_time_202501.csv',sep='|')
flow.head()

,id,x,y,type,timezn_cd,m00,m10,m15,m20,m25,m30,m35,m40,m45,m50,m55,m60,m65,m70,f00,f10,f15,f20,f25,f30,f35,f40,f45,f50,f55,f60,f65,f70,total,admi_cd,etl_ymd
0,44037496,1.018884e+06,1.656679e+06,1,0,0.0,0.0,0.0,0.03,0.0,0.0,0.00,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.03,46130830,20250101
1,44037496,1.018884e+06,1.656679e+06,1,0,0.0,0.0,0.0,0.00,0.0,0.0,0.03,0.0,0.00,0.00,0.03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.06,46130830,20250104
2,44037496,1.018884e+06,1.656679e+06,1,0,0.0,0.0,0.0,0.00,0.0,0.0,0.03,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.03,46130830,20250105
3,44037496,1.018884e+06,1.656679e+06,1,0,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0.03,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.03,46130830,20250111
4,44037496,1.018884e+06,1.656679e+06,1,0,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0.00,0.03,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.03,46130830,20250112

In [88]:
flow.columns

Index(['id', 'x', 'y', 'type', 'timezn_cd', 'm00', 'm10', 'm15', 'm20', 'm25',
       'm30', 'm35', 'm40', 'm45', 'm50', 'm55', 'm60', 'm65', 'm70', 'f00',
       'f10', 'f15', 'f20', 'f25', 'f30', 'f35', 'f40', 'f45', 'f50', 'f55',
       'f60', 'f65', 'f70', 'total', 'admi_cd', 'etl_ymd'],
      dtype='object')

In [87]:
flow['id']

0           44037496
1           44037496
2           44037496
3           44037496
4           44037496
              ...
34015766    52609200
34015767    52609200
34015768    52609200
34015769    52609200
34015770    52609200
Name: id, Length: 34015771, dtype: int64

In [5]:
# 격자 - 행정동 코드 dict
id_admi_cdict = {k:v for k,v in zip(flow['id'],flow['admi_cd'])}

# 격자

In [52]:
grid = gpd.read_file('deploy/data/json/yeosu_grid_filtered.geojson')

In [23]:
from sqlalchemy import create_engine
from sqlalchemy.types import Integer
engine = create_engine("postgresql://yeosu:!yeosu12#$@192.168.109.254:32002/yeosu_dm")
grid.to_postgis('yeosoo_grid_50m',con=engine,schema='public',dtype={'id':Integer()})

In [24]:
grid

              id                                           geometry
0       44100906  POLYGON ((127.71517 34.89905, 127.71517 34.899...
1       44100907  POLYGON ((127.71572 34.89905, 127.71572 34.899...
2       44100908  POLYGON ((127.71627 34.89905, 127.71627 34.899...
3       44106180  POLYGON ((127.71408 34.8986, 127.71408 34.8990...
4       44106181  POLYGON ((127.71462 34.8986, 127.71463 34.8990...
...          ...                                                ...
214413  52609199  POLYGON ((127.32412 34.00495, 127.32412 34.005...
214414  52611266  POLYGON ((127.3225 34.0045, 127.3225 34.00495,...
214415  52611267  POLYGON ((127.32304 34.0045, 127.32304 34.0049...
214416  52611268  POLYGON ((127.32358 34.0045, 127.32358 34.0049...
214417  52611269  POLYGON ((127.32412 34.0045, 127.32412 34.0049...

[214418 rows x 2 columns]

In [92]:
import os
import zipfile
import pandas as pd
import gc  # 가비지 컬렉션

# ZIP 폴더 경로
zip_dir = 'data/kcb'
target_name = 'flow_age_time'

# 결과 저장용 (필요 없다면 생략 가능)
results = []

# 폴더 내 모든 zip 파일 순회
for file in os.listdir(zip_dir):
    if not file.endswith('.zip'):
        continue

    zip_path = os.path.join(zip_dir, file)
    print(f"[INFO] Processing: {zip_path}")

    with zipfile.ZipFile(zip_path, 'r') as z:
        # ZIP 내부 파일 목록
        file_list = z.namelist()

        # 특정 CSV 찾기
        target_files = [f for f in file_list if target_name in f.lower() and f.endswith('.csv')]

        if not target_files:
            print(f"  ⚠️ {target_name} 파일이 없습니다.")
            continue

        # CSV 읽기
        with z.open(target_files[0]) as f:
            df = pd.read_csv(f, sep='|')

        print(file)
        display(df.head(2))
        print(f"  ✅ 읽은 데이터: {df.shape}")

        # 메모리 해제
        del df
        gc.collect()

print(f"\n총 {len(results)}개의 ZIP 파일에서 CSV를 읽었습니다.")

[INFO] Processing: data/kcb/kcb_yeosoo_202505.zip
kcb_yeosoo_202505.zip

,id,x,y,type,timezn_cd,m00,m10,m15,m20,m25,m30,m35,m40,m45,m50,m55,m60,m65,m70,f00,f10,f15,f20,f25,f30,f35,f40,f45,f50,f55,f60,f65,f70,total,admi_cd,etl_ymd
0,44037496,1.018884e+06,1.656679e+06,1,0,0.0,0.0,0.0,0.0,0.03,0.0,0.0,0.0,0.03,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.09,46130830,20250503
1,44037496,1.018884e+06,1.656679e+06,1,0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.00,0.03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.03,46130830,20250504

  ✅ 읽은 데이터: (32653742, 36)
[INFO] Processing: data/kcb/kcb_yeosoo_202503.zip
kcb_yeosoo_202503.zip

,id,x,y,type,timezn_cd,m00,m10,m15,m20,m25,m30,m35,m40,m45,m50,m55,m60,m65,m70,f00,f10,f15,f20,f25,f30,f35,f40,f45,f50,f55,f60,f65,f70,total,admi_cd,etl_ymd
0,44037496,1.018884e+06,1.656679e+06,1,0,0.0,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.03,0.0,0.0,0.0,0.0,0.03,46130830,20250301
1,44037496,1.018884e+06,1.656679e+06,1,0,0.0,0.0,0.0,0.0,0.03,0.03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.06,46130830,20250302

  ✅ 읽은 데이터: (32431819, 36)
[INFO] Processing: data/kcb/kcb_yeosoo_202506.zip
kcb_yeosoo_202506.zip

,id,x,y,type,timezn_cd,m00,m10,m15,m20,m25,m30,m35,m40,m45,m50,m55,m60,m65,m70,f00,f10,f15,f20,f25,f30,f35,f40,f45,f50,f55,f60,f65,f70,total,admi_cd,etl_ymd
0,44037496,1.018884e+06,1.656679e+06,1,0,0.0,0.0,0.0,0.00,0.03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.03,46130830,20250602
1,44037496,1.018884e+06,1.656679e+06,1,0,0.0,0.0,0.0,0.03,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.03,46130830,20250604

  ✅ 읽은 데이터: (32776786, 36)
[INFO] Processing: data/kcb/kcb_yeosoo_202507.zip
kcb_yeosoo_202507.zip

,id,x,y,type,timezn_cd,m00,m10,m15,m20,m25,m30,m35,m40,m45,m50,m55,m60,m65,m70,f00,f10,f15,f20,f25,f30,f35,f40,f45,f50,f55,f60,f65,f70,total,admi_cd,etl_ymd
0,44037496,1.018884e+06,1.656679e+06,1,0,0.0,0.0,0.0,0.03,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.03,46130830,20250704
1,44037496,1.018884e+06,1.656679e+06,1,0,0.0,0.0,0.0,0.00,0.0,0.03,0.05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.08,46130830,20250705

  ✅ 읽은 데이터: (35804403, 36)
[INFO] Processing: data/kcb/kcb_yeosoo_202501.zip
kcb_yeosoo_202501.zip

,id,x,y,type,timezn_cd,m00,m10,m15,m20,m25,m30,m35,m40,m45,m50,m55,m60,m65,m70,f00,f10,f15,f20,f25,f30,f35,f40,f45,f50,f55,f60,f65,f70,total,admi_cd,etl_ymd
0,44037496,1.018884e+06,1.656679e+06,1,0,0.0,0.0,0.0,0.03,0.0,0.0,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.03,46130830,20250101
1,44037496,1.018884e+06,1.656679e+06,1,0,0.0,0.0,0.0,0.00,0.0,0.0,0.03,0.0,0.0,0.0,0.03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.06,46130830,20250104

  ✅ 읽은 데이터: (34015771, 36)
[INFO] Processing: data/kcb/kcb_yeosoo_202504.zip
kcb_yeosoo_202504.zip

,id,x,y,type,timezn_cd,m00,m10,m15,m20,m25,m30,m35,m40,m45,m50,m55,m60,m65,m70,f00,f10,f15,f20,f25,f30,f35,f40,f45,f50,f55,f60,f65,f70,total,admi_cd,etl_ymd
0,44037496,1.018884e+06,1.656679e+06,1,0,0.0,0.0,0.0,0.0,0.03,0.03,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.08,0.0,0.0,0.0,0.0,0.03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.17,46130830,20250405
1,44037496,1.018884e+06,1.656679e+06,1,0,0.0,0.0,0.0,0.0,0.00,0.00,0.0,0.03,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.03,46130830,20250413

  ✅ 읽은 데이터: (32006007, 36)
[INFO] Processing: data/kcb/kcb_yeosoo_202502.zip
kcb_yeosoo_202502.zip

,id,x,y,type,timezn_cd,m00,m10,m15,m20,m25,m30,m35,m40,m45,m50,m55,m60,m65,m70,f00,f10,f15,f20,f25,f30,f35,f40,f45,f50,f55,f60,f65,f70,total,admi_cd,etl_ymd
0,44037496,1.018884e+06,1.656679e+06,1,0,0.0,0.0,0.0,0.0,0.03,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.03,46130830,20250202
1,44037496,1.018884e+06,1.656679e+06,1,0,0.0,0.0,0.0,0.0,0.00,0.0,0.03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.03,46130830,20250209

  ✅ 읽은 데이터: (30258737, 36)

총 0개의 ZIP 파일에서 CSV를 읽었습니다.

# 지역경제

In [124]:
kcb = pd.read_csv('./data/kcb/YEOSU_SOHO_STAT_2001-2507.txt',sep='|')
local = pd.read_csv('./data/local_pay/local_pay_202501_09.csv')

### kcb는 이미 집계되어있어서 격자만 붙여서 사용하면 됨
- 산업은 붙여야함..

In [125]:
ind_code = pd.read_csv('data/kcb/YEOSU_IND_CODE.txt', sep='|')

In [42]:
ind_code.head(1)

,SIC_CD,SIC_FST_CLSFY_ITM_NM,SIC_SCND_CLSFY_ITM_NM,SIC_TRD_CLSFY_ITM_NM,SIC_FOUR_CLSFY_ITM_NM
0,A0322,"농업, 임업 및 어업(01~03)",어업,양식어업 및 어업관련 서비스업,어업 관련 서비스업

In [127]:
kcb = pd.merge(kcb, ind_code, left_on='SIC_CD_LV4', right_on='SIC_CD', how='inner').drop(columns='SIC_CD')

drop_cols = [
        'WGS84_X', 'WGS84_Y', 'UTMK_X', 'UTML_Y',
        'RUN_OUT2_CNT', 'TOT_SALES_AMT1_CNT', 'TOT_SALES_AMT2_CNT',
        'TOT_SALES_AMT3_CNT', 'TOT_SALES_AMT4_CNT'
    ]

kcb.drop(columns=drop_cols, inplace=True)

In [132]:
kcb.head()

,QID50,BS_YR_MON,SIC_CD_LV4,SHOP_CNT,OP_CNT,NEW_OPN_CNT,RUN_OUT_CNT,TOT_SALE_AMT,TOT_SALES_AMT0_CNT,TOT_SALES_AMT5_CNT,SIC_FST_CLSFY_ITM_NM,SIC_SCND_CLSFY_ITM_NM,SIC_TRD_CLSFY_ITM_NM,SIC_FOUR_CLSFY_ITM_NM
0,46005162,202009,S9691,1,1,0,0,1148,0,1,"협회 및 단체, 수리 및 기타 개인 서비스업(94~96)",기타 개인 서비스업,그 외 기타 개인 서비스업,세탁업
1,46005162,202010,I5611,1,1,0,0,2299,0,1,숙박 및 음식점업(55~56),음식점 및 주점업,음식점업,한식 음식점업
2,46005162,202011,G4744,1,1,0,0,504,0,1,도매 및 소매업(45~47),소매업; 자동차 제외,"섬유, 의복, 신발 및 가죽제품 소매업",가방 및 기타 가죽제품 소매업
3,46005162,202011,I5621,1,1,0,0,1766,0,1,숙박 및 음식점업(55~56),음식점 및 주점업,주점 및 비알코올 음료점업,주점업
4,46005162,202101,G4785,1,1,0,0,175,0,0,도매 및 소매업(45~47),소매업; 자동차 제외,기타 상품 전문 소매업,그 외 기타 상품 전문 소매업

In [62]:
kcb

,QID50,BS_YR_MON,SIC_CD_LV4,SHOP_CNT,OP_CNT,NEW_OPN_CNT,RUN_OUT_CNT,RUN_OUT2_CNT,TOT_SALE_AMT,TOT_SALES_AMT0_CNT,TOT_SALES_AMT1_CNT,TOT_SALES_AMT2_CNT,TOT_SALES_AMT3_CNT,TOT_SALES_AMT4_CNT,TOT_SALES_AMT5_CNT,SIC_FST_CLSFY_ITM_NM,SIC_SCND_CLSFY_ITM_NM,SIC_TRD_CLSFY_ITM_NM,SIC_FOUR_CLSFY_ITM_NM
0,46005162,202009,S9691,1,1,0,0,0,1148,0,0,0,0,0,1,"협회 및 단체, 수리 및 기타 개인 서비스업(94~96)",기타 개인 서비스업,그 외 기타 개인 서비스업,세탁업
1,46005162,202010,I5611,1,1,0,0,0,2299,0,0,0,0,0,1,숙박 및 음식점업(55~56),음식점 및 주점업,음식점업,한식 음식점업
2,46005162,202011,G4744,1,1,0,0,0,504,0,0,0,0,0,1,도매 및 소매업(45~47),소매업; 자동차 제외,"섬유, 의복, 신발 및 가죽제품 소매업",가방 및 기타 가죽제품 소매업
3,46005162,202011,I5621,1,1,0,0,0,1766,0,0,0,0,0,1,숙박 및 음식점업(55~56),음식점 및 주점업,주점 및 비알코올 음료점업,주점업
4,46005162,202101,G4785,1,1,0,0,0,175,0,0,0,1,0,0,도매 및 소매업(45~47),소매업; 자동차 제외,기타 상품 전문 소매업,그 외 기타 상품 전문 소매업
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
776917,46152199,202105,G4653,1,1,0,0,1,0,1,0,0,0,0,0,도매 및 소매업(45~47),도매 및 상품 중개업,기계장비 및 관련 물품 도매업,산업용 기계 및 장비 도매업
776918,46152199,202105,I5510,2,2,0,0,0,5096,0,0,0,0,0,2,숙박 및 음식점업(55~56),숙박업,일반 및 생활 숙박시설 운영업,일반 및 생활 숙박시설 운영업
776919,46152199,202106,S9612,1,1,0,0,1,0,1,0,0,0,0,0,"협회 및 단체, 수리 및 기타 개인 서비스업(94~96)",기타 개인 서비스업,"미용, 욕탕 및 유사 서비스업","욕탕, 마사지 및 기타 신체 관리 서비스업"
776920,46152199,202108,G4653,1,1,0,0,1,0,1,0,0,0,0,0,도매 및 소매업(45~47),도매 및 상품 중개업,기계장비 및 관련 물품 도매업,산업용 기계 및 장비 도매업
776921,46152199,202108,I5621,1,1,0,0,0,205,0,0,0,0,1,0,숙박 및 음식점업(55~56),음식점 및 주점업,주점 및 비알코올 음료점업,주점업

## 지역화폐 포맷
|column |description|ref|
|---|---|---|
|id |격자 ID| 유동인구 격자 ID와 동일|
|std_date|기준연월|YYYYMM|
|ind_nm|업종|kcb와는 업종명이 다를 것|
|total_amt|결제액|원 단위|
|geometry|GIS정보|Polygon, 4326|

In [63]:
local['결제년월일'] = pd.to_datetime(local['결제년월일'])
local['결제년월']= local['결제년월일'].dt.strftime('%Y-%m')

## 지역화폐 할 것
- 가맹점명 : 가맹점주소 : 위경도 좌표 데이터 수령 후
- 격자에 위경도 좌표 입혀서 GID가 뭔지 알아내기
- 최종형태 : {가맹점명 : GID}
- GID 별 집계

In [64]:
local

,번호,회원ID,성별,생년월일,거주지주소,가맹점명,업종,결제년월일,가맹점주소,결제금액,결제년월
0,1,20190121101715004831,여,19771201,경기도시흥시,송도회센타,기타,2025-04-05,전라남도 여수시 여객선터미널길 24 (교동) -,72000,2025-04
1,2,20190121101715004831,여,19771201,경기도시흥시,청정젓갈,기타,2025-04-05,전라남도 여수시 여객선터미널길 24(교동. 여수수산시장내) -,50000,2025-04
2,3,20190121101715004831,여,19771201,경기도시흥시,청정젓갈,기타,2025-04-05,전라남도 여수시 여객선터미널길 24(교동. 여수수산시장내) -,10000,2025-04
3,4,20190221132828062474,남,19700609,전라남도여수시,바른정형외과 내과의원,의료/보건,2025-01-18,전라남도 여수시 시청로 42 (학동) 진남빌딩3층 바른정형외과내과의원,4700,2025-01
4,5,20190221132828062474,남,19700609,전라남도여수시,사랑약국,의료/보건,2025-01-18,전라남도 여수시 시청로 42(학동) -,33100,2025-01
...,...,...,...,...,...,...,...,...,...,...,...
2060945,2060946,20250919152117411310,남,19811105,전라남도여수시,앨리스토리커피여수,카페/베이커리,2025-09-24,전라남도 여수시 대치3길 9(여서동) -,20500,2025-09
2060946,2060947,20250919152117411310,남,19811105,전라남도여수시,이디야 여수 여문점,음식점,2025-09-24,"전라남도 여수시 여서로 164 (여서동) , 1층",16600,2025-09
2060947,2060948,20250922115244389861,여,19810213,전라남도여수시,여수팬다,음식점,2025-09-23,전라남도 여수시 여문문화길 54-1(문수동) -,22400,2025-09
2060948,2060949,20250922154927474752,여,19810115,전라남도여수시,내가조선의국밥이다(내조국신기점),음식점,2025-09-23,전라남도 여수시 새터로 66 (신기동) . 1층,10000,2025-09
2060949,2060950,20250923093011515210,여,19670110,전라남도여수시,황금손 반찬,음식점,2025-09-24,전라남도 여수시 여문문화길 78-1(문수동) -,30400,2025-09

## 지역화폐 가맹점 주소 매핑

In [65]:
local_location = pd.read_excel('data/local_pay/지역화폐 가맹점_gps.xlsx', engine='openpyxl')

In [66]:
from shapely.geometry import Point
local_location = gpd.GeoDataFrame(local_location, geometry=gpd.points_from_xy(local_location['위도'],local_location['경도']),crs=4326)

In [67]:
def get_grid_id(points_gdf, grid_gdf):
    if points_gdf.crs != grid_gdf.crs:
        points_gdf = points_gdf.to_crs(grid_gdf.crs)

    grid_gdf = grid_gdf[['id', 'geometry']].rename(columns={'id': 'grid_id'})

    if not hasattr(grid_gdf, "sindex") or grid_gdf.sindex is None:
        _ = grid_gdf.sindex

    joined = gpd.sjoin(
        points_gdf,
        grid_gdf,
        how="left",
        predicate="intersects"
    )

    joined = joined.drop(columns=["index_right"], errors="ignore")
    joined['grid_id'] = joined['grid_id']
    return joined

In [68]:
local_mapping = get_grid_id(local_location,grid)
local_grid_id = {k:v for k,v in zip(local_mapping['가맹점명'],local_mapping['grid_id'])}
local['grid_id'] = local['가맹점명'].map(local_grid_id)

In [77]:
import json
with open('local_grid_id.json','w') as f:
    json.dump(local_grid_id, f, indent=4, ensure_ascii=False)

In [ ]:
local['std_ym'] = pd.to_datetime(local['결제년월']).dt.strftime("%Y%m")
local.groupby(['업종','grid_id','std_ym'],as_index=False).agg(
    pay_cnt = ('번호','count'),
    pay_amt = ('결제금액','sum')
)[['grid_id','std_ym','업종','pay_cnt','pay_amt']]

In [137]:
local_pay = pd.read_csv('data/local_pay/local_pay_202501_09.csv')
with open('deploy/data/json/local_grid_id.json', 'r', encoding='utf-8') as f:
    local_grid_id = json.load(f)

# Cleaning
local_pay['결제년월일'] = pd.to_datetime(local_pay['결제년월일'])
local_pay['결제년월'] = local_pay['결제년월일'].dt.strftime('%Y-%m')
local_pay['grid_id'] = local_pay['가맹점명'].map(local_grid_id)

local_pay['std_ym'] = pd.to_datetime(local_pay['결제년월']).dt.strftime("%Y%m")
local_pay_agg = local_pay.groupby(['업종', 'grid_id', 'std_ym'], as_index=False).agg(
    pay_cnt=('번호', 'count'),
    pay_amt=('결제금액', 'sum')
)[['grid_id', 'std_ym', '업종', 'pay_cnt', 'pay_amt']]

#logger.info(f"Local Pay 집계 완료: {local_pay_agg.shape[0]} rows")

In [140]:
local_pay_agg

        grid_id  std_ym     업종  pay_cnt  pay_amt
0      44625166  202501  가전/통신        6  2324800
1      44625166  202502  가전/통신        4  2056500
2      44625166  202503  가전/통신        9  2531600
3      44625166  202504  가전/통신        1    22000
4      44625166  202505  가전/통신        2   804900
...         ...     ...    ...      ...      ...
39514  46372744  202505  학원/교육        1   240000
39515  46372744  202506  학원/교육        3   530000
39516  46372744  202507  학원/교육        1   150000
39517  46372744  202508  학원/교육        1   240000
39518  46372744  202509  학원/교육        2   390000

[39519 rows x 5 columns]

# 인구 격자 매핑

In [156]:
pop_location = pd.read_excel('data/population/JUMIN_01.xlsx')
pop_location = gpd.GeoDataFrame(pop_location, geometry=gpd.points_from_xy(pop_location['열22'],pop_location['열23']),crs=4326)
pop_location.head()

,JUMIN_HEAD_SID,JUMIN_HEAD_SID_SNO,JUMIN_ADMDNG_CODE,JUMIN_REGN_CODE,JUMIN_STATE_CODE,JUMIN_INPORT_YMD,JUMIN_SAN,JUMIN_BUNJI,JUMIN_HO,열3,열4,JUMIN_RD_CODE,열1,JUMIN_BDNG_ORGNO,JUMIN_BDNG_SUBNO,열2,열22,열23,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,geometry
0,61010115VJpUWSXvqmlDURJtJEOjA==,0,4613031000,4613031028,10,20111121.0,1.0,70.0,70.0,NaN,NaN,4.613023e+11,엑스포대로,2034.0,NaN,여수시 엑스포대로 2034,127.618997,34.817885,NaN,NaN,여수시 엑스포대로 2034,127.618997,34.817885,POINT (127.619 34.81788)
1,6604301AgyoY3FtZc2uh12sS040ng==,0,4613076500,4613012600,10,20130701.0,1.0,NaN,NaN,NaN,NaN,4.613023e+11,엑스포대로,357.0,NaN,여수시 엑스포대로 357,127.748270,34.756469,NaN,NaN,여수시 엑스포대로 357,127.748270,34.756469,POINT (127.74827 34.75647)
2,9306131nkf9jC7zqxjgitMnZtKZZQ==,0,4613025100,4613025030,10,20230925.0,1.0,NaN,NaN,NaN,NaN,4.613023e+11,엑스포대로,71.0,NaN,여수시 엑스포대로 71,127.747800,34.732965,NaN,NaN,여수시 엑스포대로 71,127.747800,34.732965,POINT (127.7478 34.73296)
3,7510191t15MsZ/AhgRsQtTiyUz9RQ==,0,4613051500,4613010100,10,20220708.0,1.0,NaN,NaN,NaN,NaN,4.613023e+11,여수시민로,8.0,NaN,여수시 여수시민로 8,127.750394,34.736451,NaN,NaN,여수시 여수시민로 8,127.750394,34.736451,POINT (127.75039 34.73645)
4,5707061KrdmBdADZQhoM+4QvREJmQ==,0,4613083000,4613014700,10,20170803.0,1.0,770.0,NaN,NaN,NaN,4.613023e+11,이순신대로,214.0,60.0,여수시 이순신대로 214-60,127.723902,34.875049,NaN,NaN,여수시 이순신대로 214-60,127.723902,34.875049,POINT (127.7239 34.87505)

In [150]:
from tqdm.auto import tqdm
tqdm.pandas()
import sys
sys.path.append('deploy/module')
from utils import get_grid_id
tmp = get_grid_id(pop_location, grid)

def make_binding_key(row, rd_col, main_col, sub_col):
    rd_val = row[rd_col]
    main_val = row[main_col]
    sub_val = row[sub_col]

    # 🚨 본번이 없으면 즉시 undefined
    if pd.isna(main_val) or str(main_val).strip() == "":
        return "undefined"

    # 도로명코드가 없으면 undefined (법정동일 경우 regn_col을 전달함)
    if pd.isna(rd_val) or str(rd_val).strip() == "":
        return "undefined"

    def to_int_str(val):
        try:
            if pd.isna(val) or str(val).strip() == "":
                return None
            return str(int(float(val)))
        except:
            return None

    rd_str = to_int_str(rd_val)
    main_str = to_int_str(main_val)
    sub_str = to_int_str(sub_val)

    if rd_str is None or main_str is None:
        return "undefined"

    if sub_str:
        return f"{rd_str}-{main_str}-{sub_str}"
    else:
        return f"{rd_str}-{main_str}"

def find_full_addr_id(
    row,
    rd_col="jumin_rd_code",
    main_col="jumin_bdng_orgno",
    sub_col="jumin_bdng_subno",
    regn_col="jumin_regn_code",
    san_col="jumin_san"
):
    rd_val = row[rd_col]
    main_val = row[main_col]

    # 🚨 본번이 없으면 무조건 undefined
    if pd.isna(main_val) or str(main_val).strip() == "":
        return "undefined"

    # =============================
    # 1) 도로명 기반
    # =============================
    if not pd.isna(rd_val) and str(rd_val).strip() != "":
        base = make_binding_key(row, rd_col, main_col, sub_col)
    else:
        # =============================
        # 2) 도로명 없음 → 법정동 기반
        # =============================
        base = make_binding_key(row, regn_col, main_col, sub_col)

    if base == "undefined":
        return "undefined"

    # base: "code-main" 또는 "code-main-sub"
    parts = base.split("-")
    code = parts[0]
    main_sub = parts[1:]

    try:
        san = int(float(row[san_col]))
    except:
        san = 1

    # main-sub 구조 처리
    if len(main_sub) == 2:
        main, sub = main_sub
        main = f"S{main}" if san == 2 else main
        result = f"{code}-{main}-{sub}"
    else:
        main = main_sub[0]
        main = f"S{main}" if san == 2 else main
        result = f"{code}-{main}"

    return result

/DATA/jupyter_WorkingDirectory/notebook/yeosu/deploy/module/utils.py:137: RuntimeWarning: invalid value encountered in cast
  result["grid_id"] = joined["grid_id"].values.astype(int)

In [151]:
tmp = pop_location.copy()

In [152]:
tmp.columns = [x.lower() for x in tmp.columns]

In [154]:
tmp['addr_id'] = tmp.progress_apply(find_full_addr_id, axis=1)

  0%|          | 0/127707 [00:00<?, ?it/s]

In [160]:
tmp = get_grid_id(tmp,grid)

/DATA/jupyter_WorkingDirectory/notebook/yeosu/deploy/module/utils.py:137: RuntimeWarning: invalid value encountered in cast
  result["grid_id"] = joined["grid_id"].values.astype(int)

In [169]:
addr_id_map = {k:v for k,v in zip(tmp['addr_id'], tmp['열2'])}
pop_grid_map = {k:v for k,v in zip(tmp['열2'], tmp['grid_id'].astype(str))}

with open('deploy/data/json/addr_id_map.json','w') as f:
    json.dump(addr_id_map, f, indent=4, ensure_ascii=False)

with open('deploy/data/json/pop_grid_id.json','w') as f:
    json.dump(pop_grid_map, f, indent=4, ensure_ascii=False)

In [170]:
pop_grid_map

{'여수시 엑스포대로 2034': '45055070',
 '여수시 엑스포대로 357': '45834402',
 '여수시 엑스포대로 71': '46152242',
 '여수시 여수시민로 8': '46103248',
 '여수시 이순신대로 214-60': '44382006',
 '여수시 이순신대로 178': '44418131',
 '여수시 율촌산단2로 241-42': '44236933',
 '여수시 율촌산단2로 241-70': '44247334',
 '여수시 율촌산단2로 203-56': '44221305',
 '여수시 강남동로 46-25': '46366636',
 '여수시 강남동로 46-7': '46323806',
 '여수시 강남동로 51-1': '46329925',
 '여수시 강남동로 7': '46384969',
 '여수시 강남동로 47': '46336046',
 '여수시 강남동로 46-3': '46342167',
 '여수시 강남동로 30': '46360516',
 '여수시 강남동로 11': '46378858',
 '여수시 강남동로 43': '46342165',
 '여수시 강남동로 59': '46323804',
 '여수시 강남동로 53': '46329925',
 '여수시 강남동로 45': '46336046',
 '여수시 강남동로 35': '46348283',
 '여수시 강남동로 39-1': '46342165',
 '여수시 강남동로 49': '46336046',
 '여수시 강남동로 37': '46348283',
 '여수시 강남동로 46-19': '46354403',
 '여수시 강남동로 51': '46336046',
 '여수시 강남동로 41': '46342165',
 '여수시 강남로 72-1': '46305426',
 '여수시 강남로 78': '46299302',
 '여수시 강남로 64': '46311548',
 '여수시 강남로 45': '46329915',
 '여수시 강남로 68': '46305426',
 '여수시 강남로 53': '46317670',
 '여수시 강남로 32': '46348274',
 '여수시 강남로 31': '46348270',
 '여수시 강남로 44': '46336036',
 '여수시 강남로 72': '46305426',
 '여수시 강남해안로 67-7': '46329907',
 '여수시 강남해안로 71-9': '46336028',
 '여수시 강남해안로 73': '46336028',
 '여수시 강남해안로 51-8': '46317662',
 '여수시 강남해안로 47': '46311538',
 '여수시 강남해안로 7': '46262541',
 '여수시 강남해안로 51-10': '46311539',
 '여수시 강남해안로 153': '46384964',
 '여수시 강남해안로 67-13': '46329907',
 '여수시 강남해안로 51-24': '46311539',
 '여수시 강남해안로 71-7': '46336028',
 '여수시 강남해안로 60': '46323784',
 '여수시 강남해안로 51-20': '46311539',
 '여수시 강남해안로 57': '46317662',
 '여수시 강남해안로 67-21': '46323785',
 '여수시 강남해안로 51-11': '46311538',
 '여수시 강남해안로 67': '46329907',
 '여수시 강남해안로 51-23': '46305416',
 '여수시 강남해안로 90': '46354384',
 '여수시 강남해안로 21': '46274791',
 '여수시 강남해안로 51-27': '46305417',
 '여수시 강남해안로 63': '46323785',
 '여수시 강남해안로 67-10': '46329908',
 '여수시 강남해안로 52': '46311537',
 '여수시 강남해안로 65': '46329907',
 '여수시 강남해안로 36': '46293165',
 '여수시 강남해안로 35': '46293166',
 '여수시 강남해안로 15': '46268666',
 '여수시 강남해안로 67-24': '46323785',
 '여수시 강남해안로 6': '46256414',
 '여수시 강남해안로 85': '46348267',
 '여수시 강남해안로 61': '46323785',
 '여수시 강남해안로 51-13': '46311538',
 '여수시 강남해안로 46': '46305414',
 '여수시 강남해안로 45': '46305416',
 '여수시 강남해안로 189': '46391082',
 '여수시 강남해안로 44-1': '46299290',
 '여수시 강남해안로 214': '46391087',
 '여수시 강남해안로 51': '46311538',
 '여수시 강남해안로 159': '46391076',
 '여수시 강남해안로 67-25': '46323785',
 '여수시 강남해안로 11': '46268666',
 '여수시 강남해안로 173': '46391079',
 '여수시 강남해안로 49': '46311538',
 '여수시 계동로 329': '47010943',
 '여수시 계동로 427': '46951712',
 '여수시 계동로 238-52': '47105060',
 '여수시 계동로 238-53': '47116630',
 '여수시 계동로 297': '47040488',
 '여수시 계동로 293': '47046392',
 '여수시 계동로 262': '47069993',
 '여수시 계동로 326-25': '46993201',
 '여수시 계동로 261': '47069992',
 '여수시 계동로 326-29': '46999118',
 '여수시 계동로 397-1': '46993186',
 '여수시 계동로 539-1': '46862458',
 '여수시 계동로 326-23': '46987282',
 '여수시 계동로 547-11': '46850520',
 '여수시 계동로 326-35': '47010947',
 '여수시 계동로 238-21': '47087597',
 '여수시 계동로 35-11': '47239565',
 '여수시 계동로 171-91': '47087579',
 '여수시 계동로 275': '47064097',
 '여수시 계동로 326-33': '47005033',
 '여수시 계동로 326-5': '47005029',
 '여수시 계동로 299': '47040488',
 '여수시 계동로 280': '47058199',
 '여수시 계동로 559': '46832596',
 '여수시 계동로 381': '46999105',
 '여수시 계동로 289': '47052297',
 '여수시 계동로 289-1': '47052296',
 '여수시 계동로 318': '47016856',
 '여수시 계동로 276': '47064098',
 '여수시 계동로 390': '46993188',
 '여수시 계동로 548': '46844550',
 '여수시 계동로 397': '46993185',
 '여수시 계동로 171-105': '47081729',
 '여수시 계동로 320': '47016856',
 '여수시 계동로 309': '47028673',
 '여수시 계동로 547-15': '46844547',
 '여수시 계동로 171-78': '47099238',
 '여수시 계동로 323': '47016855',
 '여수시 계동로 171-103': '47075861',
 '여수시 계동로 257': '47069992',
 '여수시 계동로 564-1': '46826618',
 '여수시 계동로 326-12': '46999116',
 '여수시 계동로 276-6': '47069995',
 '여수시 계동로 547-13': '46850520',
 '여수시 계동로 560': '46832597',
 '여수시 계동로 326-39': '47010946',
 '여수시 계동로 238-56': '47116626',
 '여수시 계동로 541-1': '46856492',
 '여수시 계동로 326-16': '46999117',
 '여수시 계동로 547': '46850521',
 '여수시 계동로 326-8': '47005029',
 '여수시 계동로 238-15': '47081744',
 '여수시 계동로 303': '47034582',
 '여수시 계동로 326-10': '46999116',
 '여수시 계동로 539': '46856492',
 '여수시 계동로 301': '47040488',
 '여수시 계동로 238-68': '47122391',
 '여수시 계동로 392': '46987269',
 '여수시 계동로 527-1': '46868426',
 '여수시 계동로 326-4': '47005030',
 '여수시 계동로 321': '47016855',
 '여수시 계동로 415': '46975424',
 '여수시 계동로 391': '46999104',
 '여수시 계동로 563': '46826618',
 '여수시 계동로 319': '47016855',
 '여수시 계동로 238-17': '47087597',
 '여수시 계동로 291-1': '47052296',
 '여수시 계동로 417': '46969500',
 '여수시 계동로 238-62': '47116629',
 '여수시 계동로 238-42': '47099253',
 '여수시 계동로 171-50': '47122381',
 '여수시 계동로 440': '46945781',
 '여수시 계동로 238-27': '47105066',
 '여수시 계동로 420-2': '46969501',
 '여수시 계동로 326-21': '46993201',
 '여수시 계동로 407': '46981347',
 '여수시 계동로 238-50': '47099253',
 '여수시 계동로 238-48': '47099252',
 '여수시 계동로 291': '47052296',
 '여수시 계동로 376': '46999107',
 '여수시 계동로 523-1': '46874389',
 '여수시 계동로 258': '47075876',
 '여수시 계동로 515': '46880350',
 '여수시 계동로 374': '46999107',
 '여수시 계동로 299-2': '47034581',
 '여수시 계동로 3': '47267021',
 '여수시 계동로 564': '46826618',
 '여수시 계동로 416': '46975425',
 '여수시 계동로 238-96': '47052298',
 '여수시 계동로 418': '46969501',
 '여수시 계동로 326-20': '46999117',
 '여수시 계동로 536': '46856494',
 '여수시 계동로 521-1': '46880349',
 '여수시 계동로 379-1': '47005020',
 '여수시 계동로 527': '46868426',
 '여수시 계동로 238-63': '47122392',
 '여수시 계동로 379': '47005020',
 '여수시 계동로 523': '46874389',
 '여수시 계동로 393': '46999103',
 '여수시 계동로 393-1': '46999103',
 '여수시 계동로 53': '47217579',
 '여수시 계동로 533': '46862460',
 '여수시 계동로 238-30': '47093432',
 '여수시 계동로 413': '46975424',
 '여수시 계동로 521': '46874390',
 '여수시 계동로 419': '46963573',
 '여수시 계동로 426': '46957645',
 '여수시 계동로 513': '46886309',
 '여수시 계동로 416-1': '46969501',
 '여수시 계동로 412-1': '46975425',
 '여수시 계동로 554': '46838575',
 '여수시 계동로 412': '46975425',
 '여수시 국포1로 22-1': '46207354',
 '여수시 국포1로 13': '46201226',
 '여수시 국포1로 16-1': '46201225',
 '여수시 국포1로 20': '46201225',
 '여수시 국포1로 9': '46195098',
 '여수시 국포1로 24': '46207353',
 '여수시 국포1로 51': '46244116',
 '여수시 국포1로 84': '46231857',
 '여수시 국포1로 27': '46219610',
 '여수시 국포1로 67': '46244113',
 '여수시 국포1로 50': '46237990',
 '여수시 국포1로 82': '46231857',
 '여수시 국포1로 8': '46195097',
 '여수시 국포1로 11': '46201226',
 '여수시 국포1로 103': '46225725',
 '여수시 국포1로 38': '46225736',
 '여수시 국포1로 47': '46237991',
 '여수시 국포1로 26': '46207353',
 '여수시 국포1로 3': '46188969',
 '여수시 금오로 540-6': '48667619',
 '여수시 금오로 1307-6': '48890064',
 '여수시 금오로 985': '48850009',
 '여수시 금오로 816-14': '48760998',
 '여수시 금오로 1285-26': '48883052',
 '여수시 금오로 386': '48583204',
 '여수시 금오로 392-8': '48587377',
 '여수시 금오로 1164': '48827786',
 '여수시 금오로 512': '48648237',
 '여수시 금오로 838-1': '48783261',
 '여수시 금오로 1082': '48872216',
 '여수시 금오로 284': '48505217',
 '여수시 금오로 511-8': '48648238',
 '여수시 금오로 1155-6': '48827784',
 '여수시 금오로 345-6': '48549323',
 '여수시 금오로 796': '48761002',
 '여수시 금오로 1016-8': '48868513',
 '여수시 금오로 1015-24': '48861118',
 '여수시 금오로 460': '48620273',
 '여수시 금오로 438': '48608042',
 '여수시 금오로 508': '48648236',
 '여수시 금오로 1134': '48838908',
 '여수시 금오로 1143-4': '48831492',
 '여수시 금오로 1015-20': '48861119',
 '여수시 금오로 324-3': '48536330',
 '여수시 금오로 334-8': '48549320',
 '여수시 금오로 464-18': '48632374',
 '여수시 금오로 1064-7': '48879466',
 '여수시 금오로 874': '48801805',
 '여수시 금오로 1016-7': '48868513',
 '여수시 금오로 1043-10': '48879463',
 '여수시 금오로 799-6': '48764713',
 '여수시 금오로 1285-10': '48879487',
 '여수시 금오로 1038-1': '48879460',
 '여수시 금오로 450-2': '48616207',
 '여수시 금오로 392-10': '48591535',
 '여수시 금오로 1143-5': '48831492',
 '여수시 금오로 1080-12': '48879468',
 '여수시 금오로 334-6': '48549319',
 '여수시 금오로 1005-5': '48861116',
 '여수시 금오로 446': '48616207',
 '여수시 금오로 2': '48404982',
 '여수시 금오로 1285-7': '48875883',
 '여수시 금오로 496-3': '48640356',
 '여수시 금오로 840': '48783261',
 '여수시 금오로 1182': '48831498',
 '여수시 금오로 1005-7': '48861116',
 '여수시 금오로 1036': '48879459',
 '여수시 금오로 1081': '48872216',
 '여수시 금오로 1339-45': '48918069',
 '여수시 금오로 1006': '48864815',
 '여수시 금오로 842': '48786970',
 '여수시 금오로 808': '48764712',
 '여수시 금오로 1157': '48827784',
 '여수시 금오로 1174': '48827787',
 '여수시 금오로 360': '48562133',
 '여수시 금오로 1107': '48853726',
 '여수시 금오로 872': '48801804',
 '여수시 금오로 838-2': '48783261',
 '여수시 금오로 800': '48761001',
 '여수시 금오로 1031': '48875854',
 '여수시 금오로 1155-4': '48827784',
 '여수시 금오로 178': '48444411',
 '여수시 금오로 1285-14': '48879487',
 '여수시 금오로 469': '48620275',
 '여수시 금오로 813': '48768423',
 '여수시 금오로 1174-1': '48831498',
 '여수시 금오로 324-12': '48536328',
 '여수시 금오로 345-5': '48545016',
 '여수시 금오로 1108': '48853727',
 '여수시 금오로 334-15': '48553606',
 '여수시 금오로 1150': '48835202',
 '여수시 금오로 340-1': '48549320',
 '여수시 금오로 1163': '48827785',
 '여수시 금오로 868': '48801804',
 '여수시 금오로 1089': '48864828',
 '여수시 금오로 1016-14': '48864814',
 '여수시 금오로 350': '48553607',
 '여수시 금오로 1015-11': '48864817',
 '여수시 금오로 166': '48444409',
 '여수시 금오로 1015-21': '48857417',
 '여수시 금오로 446-1': '48616207',
 '여수시 금오로 884': '48801807',
 '여수시 금오로 812': '48764711',
 '여수시 금오로 1110-3': '48850024',
 '여수시 금오로 850': '48790679',
 '여수시 금오로 1032': '48879459',
 '여수시 금오로 1016-13': '48872202',
 '여수시 금오로 1307-5': '48890063',
 '여수시 금오로 1015-1': '48868515',
 '여수시 금오로 993': '48857414',
 '여수시 금오로 392-14': '48595683',
 '여수시 금오로 1015-17': '48857416',
 '여수시 금오로 836': '48772133',
 '여수시 금오로 848': '48790679',
 '여수시 금오로 1339-35': '48914561',
 '여수시 금오로 902': '48809222',
 '여수시 금오로 543': '48667620',
 '여수시 금오로 844': '48786970',
 '여수시 금오로 932': '48820349',
 '여수시 금오로 508-17': '48652142',
 '여수시 금오로 20': '48404984',
 '여수시 금오로 823': '48775845',
 '여수시 금오로 870': '48801804',
 '여수시 금오로 1015-9': '48864817',
 '여수시 금오로 816-39': '48753568',
 '여수시 금오로 868-1': '48801804',
 '여수시 금오로 1015-13': '48864817',
 '여수시 금오로 809': '48768423',
 '여수시 금오로 334-10': '48553605',
 '여수시 금오로 1285-13': '48879488',
 '여수시 금오로 1139': '48831491',
 '여수시 금오로 882': '48801806',
 '여수시 금오로 687': '48742444',
 '여수시 금오로 1016-6': '48868513',
 '여수시 금오로 1307-9': '48890064',
 '여수시 금오로 392': '48587378',
 '여수시 금오로 817': '48772134',
 '여수시 금오로 1133-2': '48835199',
 '여수시 금오로 918': '48816638',
 '여수시 금오로 537': '48663776',
 '여수시 금오로 333': '48540685',
 '여수시 금오로 1016-3': '48868513',
 '여수시 금오로 1282': '48875882',
 '여수시 금오로 1016-10': '48864815',
 '여수시 금오로 511-2': '48648237',
 '여수시 금오로 1033': '48875855',
 '여수시 금오로 1119': '48842613',
 '여수시 금오로 334-14': '48553605',
 '여수시 금오로 816-41': '48753568',
 '여수시 금오로 1126': '48842614',
 '여수시 금오로 858': '48798095',
 '여수시 금오로 807': '48764713',
 '여수시 금오서부로 4': '48772132',
 '여수시 금오서부로 346-10': '48655987',
 '여수시 금오서부로 435-23': '48659848',
 '여수시 금오서부로 11': '48772131',
 '여수시 금오서부로 454': '48648170',
 '여수시 금오서부로 179': '48738693',
 '여수시 금오서부로 128-83': '48690344',
 '여수시 금오서부로 435-19': '48663710',
 '여수시 금오서부로 346-15': '48655986',
 '여수시 금오서부로 19': '48768419',
 '여수시 금오서부로 452-1': '48648170',
 '여수시 금오서부로 291': '48675220',
 '여수시 금오서부로 128-68': '48697802',
 '여수시 금오서부로 346-16': '48655987',
 '여수시 금오서부로 446': '48652079',
 '여수시 금오서부로 474': '48644238',
 '여수시 금오서부로 317': '48663730',
 '여수시 금오서부로 313': '48667574',
 '여수시 금오서부로 484': '48644236',
 '여수시 금오서부로 33': '48768416',
 '여수시 금오서부로 438-1': '48652080',
 '여수시 금오서부로 13': '48772131',
 '여수시 금오서부로 435-25': '48659848',
 '여수시 금오서부로 468': '48644239',
 '여수시 금오서부로 442-1': '48652079',
 '여수시 금오서부로 306': '48667576',
 '여수시 금오서부로 428': '48655973',
 '여수시 금오서부로 286-5': '48675223',
 '여수시 금오서부로 435-143': '48720075',
 '여수시 금오서부로 26': '48764705',
 '여수시 금오서부로 346-2': '48655988',
 '여수시 금오서부로 482': '48644236',
 '여수시 금오서부로 315': '48667574',
 '여수시 금오서부로 454-2': '48648170',
 '여수시 금오서부로 435-275': '48749786',
 '여수시 금오서부로 436': '48655972',
 '여수시 금오서부로 2': '48772133',
 '여수시 금오서부로 424': '48655974',
 '여수시 금오서부로 68': '48757278',
 '여수시 금오서부로 435-248': '48753500',
 '여수시 금오서부로 128-85': '48690345',
 '여수시 금오서부로 128-60': '48705245',
 '여수시 금오서부로 410': '48659852',
 '여수시 금오서부로 9': '48772131',
 '여수시 금오서부로 251-11': '48701497',
 '여수시 금오서부로 128-62': '48701525',
 '여수시 금오서부로 259': '48697777',
 '여수시 금오서부로 128-69': '48701522',
 '여수시 금오서부로 152-26': '48731262',
 '여수시 금오서부로 388': '48663717',
 '여수시 금오서부로 435-41': '48659846',
 '여수시 금오서부로 440': '48655971',
 '여수시 금오서부로 435-289': '48753502',
 '여수시 금오서부로 35': '48764705',
 '여수시 금오서부로 21': '48768418',
 '여수시 남산로 43': '46127708',
 '여수시 남산로 60-17': '46103215',
 '여수시 남산로 60-13': '46103215',
 '여수시 남산로 119-6': '46060357',
 '여수시 남산로 54': '46121584',
 '여수시 남산로 56': '46115462',
 '여수시 남산로 23-6': '46152210',
 '여수시 남산로 23-4': '46152211',
 '여수시 남산로 59-11': '46115459',
 '여수시 남산로 8': '46170597',
 '여수시 남산로 94': '46090964',
 '여수시 남산로 119-7': '46066476',
 '여수시 남산로 120': '46066478',
 '여수시 남산로 59-5': '46115460',
 '여수시 남산로 23-9': '46158337',
 '여수시 남산로 50-7': '46127710',
 '여수시 남산로 60-8': '46109338',
 '여수시 남산로 46-3': '46127709',
 '여수시 남산로 59-8': '46115459',
 '여수시 남산로 55': '46115460',
 '여수시 남산로 44-1': '46133835',
 '여수시 남산로 51-1': '46121583',
 '여수시 남산로 66': '46103214',
 '여수시 남산로 59-10': '46115459',
 '여수시 남산로 46': '46127709',
 '여수시 남산로 60-31': '46097093',
 '여수시 남산로 21-1': '46158337',
 '여수시 남산로 119-5': '46066477',
 '여수시 남산로 28-17': '46133834',
 '여수시 남산로 126': '46054239',
 '여수시 남산로 66-2': '46103214',
 '여수시 남산로 48': '46127709',
 '여수시 남산로 23-1': '46158338',
 '여수시 남산로 59-3': '46115460',
 '여수시 남산로 38': '46139959',
 '여수시 남산로 116': '46066478',
 '여수시 남산로 23-2': '46152211',
 '여수시 남산로 47': '46121583',
 '여수시 남산로 59-2': '46109337',
 '여수시 남산로 35': '46139958',
 '여수시 남산로 53': '46115460',
 '여수시 남산로 42-1': '46133835',
 '여수시 남산로 60-25': '46103216',
 '여수시 남산로 119-3': '46066477',
 '여수시 남산로 21': '46158338',
 '여수시 남산로 60-20': '46115461',
 '여수시 남산로 55-1': '46115460',
 '여수시 남산로 60-26': '46109339',
 '여수시 남산로 57': '46115460',
 '여수시 남산로 60-23': '46103216',
 '여수시 남산로 60-33': '46103215',
 '여수시 남산로 60-4': '46109338',
 '여수시 남산로 41': '46133834',
 '여수시 남산로 28-13': '46139959',
 '여수시 남산로 58-4': '46109338',
 '여수시 남산로 66-1': '46103214',
 '여수시 남산로 60-5': '46103215',
 '여수시 남산로 48-1': '46127709',
 '여수시 남산로 37': '46133834',
 '여수시 남산로 45': '46127708',
 '여수시 남산로 50-5': '46127710',
 '여수시 남산로 58': '46115461',
 '여수시 남산로 103': '46078719',
 '여수시 남산로 23-5': '46158337',
 '여수시 남산로 60-15': '46103215',
 '여수시 남산로 122': '46060358',
 '여수시 남산로 123': '46060357',
 '여수시 남산로 107': '46078719',
 '여수시 남산로 58-1': '46115461',
 '여수시 남산로 60-19': '46103216',
 '여수시 남산로 60-2': '46109338',
 '여수시 남산로 70': '46097090',
 '여수시 남산로 60-10': '46109338',
 '여수시 남산로 60-21': '46103216',
 '여수시 남산로 47-1': '46127708',
 '여수시 남산로 111': '46072599',
 '여수시 남산로 39': '46133834',
 '여수시 남산로 105': '46078719',
 '여수시 남산로 109': '46072599',
 '여수시 남산로 121': '46060357',
 '여수시 남산로 107-1': '46078719',
 '여수시 남산로 60-9': '46103215',
 '여수시 남산로 48-3': '46127709',
 '여수시 대교로 39-1': '46121572',
 '여수시 대교로 7-2': '46103197',
 '여수시 대교로 36': '46121571',
 '여수시 대교로 5-2': '46103196',
 '여수시 대교로 17': '46109321',
 '여수시 대교로 94': '46176719',
 '여수시 대교로 35-3': '46115448',
 '여수시 대교로 6-2': '46103196',
 '여수시 대교로 1': '46097073',
 '여수시 대교로 35-2': '46115447',
 '여수시 대교로 55': '46133826',
 '여수시 대교로 74-3': '46152204',
 '여수시 대교로 47': '46127699',
 '여수시 대교로 72-1': '46152204',
 '여수시 대교로 57-1': '46133826',
 '여수시 대교로 18-2': '46115444',
 '여수시 대교로 2-2': '46103195',
 '여수시 대교로 72': '46152204',
 '여수시 대교로 31-1': '46115447',
 '여수시 대교로 6-3': '46103196',
 '여수시 대교로 3': '46097073',
 '여수시 대교로 31': '46115447',
 '여수시 대교로 37': '46121572',
 '여수시 대교로 7': '46103196',
 '여수시 대교로 62': '46139951',
 '여수시 대교로 59-4': '46133827',
 '여수시 대교로 18-1': '46115444',
 '여수시 대교로 60': '46139951',
 '여수시 대교로 8-2': '46103196',
 '여수시 대교로 59-3': '46133827',
 '여수시 대교로 15': '46103198',
 '여수시 대교로 59-1': '46133827',
 '여수시 대교로 21-3': '46109322',
 '여수시 대교로 47-1': '46127699',
 '여수시 대교로 6-6': '46103196',
 '여수시 대교로 11': '46103197',
 '여수시 대교로 31-2': '46115447',
 '여수시 대교로 13-1': '46103198',
 '여수시 대교로 19': '46109322',
 '여수시 대교로 23-4': '46109323',
 '여수시 대교로 37-1': '46121572',
 '여수시 대교로 39': '46121572',
 '여수시 대교로 9': '46103197',
 '여수시 대교로 14-1': '46109320',
 '여수시 대교로 13': '46103198',
 '여수시 대교로 8': '46103196',
 '여수시 대교로 19-2': '46109322',
 '여수시 대교로 74': '46152204',
 '여수시 대교로 53': '46127699',
 '여수시 대교로 35': '46115447',
 '여수시 대교로 19-1': '46109322',
 '여수시 대교로 12': '46109320',
 '여수시 대교로 16-1': '46109320',
 '여수시 대교로 2-1': '46103196',
 '여수시 대교로 23-5': '46109323',
 '여수시 대교로 10': '46109320',
 '여수시 대교로 42': '46127697',
 '여수시 대교로 20-2': '46115444',
 '여수시 대교로 23': '46109322',
 '여수시 대교로 33-1': '46115447',
 '여수시 대교로 16': '46109320',
 '여수시 대교로 8-4': '46109319',
 '여수시 대교로 86-7': '46164460',
 '여수시 대교로 8-1': '46103196',
 '여수시 대교로 35-4': '46115448',
 '여수시 대교로 5': '46097073',
 '여수시 대교로 57': '46133826',
 '여수시 대교로 59-2': '46133827',
 '여수시 대교로 66-1': '46152204',
 '여수시 대교로 47-2': '46127699',
 '여수시 대교로 22': '46115445',
 '여수시 대교로 20': '46109321',
 '여수시 대교로 26': '46115445',
 '여수시 대교로 66': '46146077',
 '여수시 대교로 6-1': '46103196',
 '여수시 대교로 40': '46127697',
 '여수시 대교로 15-1': '46103198',
 '여수시 대교로 14': '46109320',
 '여수시 대교로 29': '46115446',
 '여수시 대교로 20-1': '46115444',
 '여수시 대교로 49': '46127699',
 '여수시 대교로 35-1': '46115447',
 '여수시 대교로 64-4': '46146077',
 '여수시 대교로 38': '46121571',
 '여수시 대교로 53-1': '46127700',
 '여수시 대교로 21': '46109322',
 '여수시 대교로 9-1': '46103197',
 '여수시 대교로 5-1': '46103196',
 '여수시 대교로 46': '46127697',
 '여수시 대교로 21-4': '46109322',
 '여수시 대교로 32-2': '46121570',
 '여수시 대교로 21-2': '46109322',
 '여수시 대교로 8-3': '46109319',
 '여수시 대교로 23-2': '46109322',
 '여수시 대교로 59': '46133826',
 '여수시 대통로 16-1': '45593949',
 '여수시 대통로 48': '45582499',
 '여수시 대통로 12': '45593948',
 '여수시 대통로 14': '45593948',
 '여수시 대통로 81': '45565320',
 '여수시 대통로 49': '45576770',
 '여수시 대통로 46': '45582498',
 '여수시 대통로 54': '45576771',
 '여수시 대통로 68': '45565318',
 '여수시 대통로 32': '45588224',
 '여수시 대통로 53': '45576770',
 '여수시 대통로 47-1': '45576769',
 '여수시 대통로 46-1': '45582498',
 '여수시 대통로 90': '45576776',
 '여수시 대통로 34': '45588224',
 '여수시 대통로 71-1': '45559591',
 '여수시 대통로 38': '45582497',
 '여수시 대통로 58': '45576771',
 '여수시 대통로 40': '45582497',
 '여수시 대통로 39': '45582497',
 '여수시 대통로 78': '45571046',
 '여수시 대통로 75': '45559592',
 '여수시 대통로 84': '45571047',
 '여수시 대통로 52': '45576770',
 '여수시 대통로 65': '45565317',
 '여수시 대통로 87': '45571048',
 '여수시 대통로 10': '45599676',
 '여수시 대통로 88': '45576775',
 '여수시 대통로 42': '45582497',
 '여수시 대통로 33': '45582496',
 '여수시 대통로 77-1': '45565319',
 '여수시 대통로 62': '45571044',
 '여수시 대통로 66-1': '45565318',
 '여수시 대통로 69': '45565317',
 '여수시 대통로 83-1': '45571047',
 '여수시 대통로 55': '45571043',
 '여수시 대통로 3': '45593946',
 '여수시 대통로 66': '45571044',
 '여수시 대통로 42-1': '45582498',
 '여수시 대통로 80': '45571046',
 '여수시 대통로 30': '45588223',
 '여수시 대통로 8': '45599676',
 '여수시 대통로 51': '45576770',
 '여수시 대통로 83': '45571047',
 '여수시 대통로 79': '45565319',
 '여수시 대통로 4': '45599675',
 '여수시 대통로 45': '45576769',
 '여수시 대통로 57': '45571043',
 '여수시 대통로 43': '45576768',
 '여수시 대통로 63': '45565317',
 '여수시 대통로 59': '45571043',
 '여수시 대통로 77': '45565319',
 '여수시 대통로 85': '45571047',
 '여수시 대통로 41': '45582497',
 '여수시 대통로 36': '45588224',
 '여수시 대통로 89': '45571048',
 '여수시 대통로 37': '45582496',
 '여수시 대통로 70': '45565318',
 '여수시 대통로 61': '45571043',
 '여수시 대통로 71': '45559591',
 '여수시 대통로 47-6': '45576769',
 '여수시 대학로 50': '45616980',
 '여수시 대학로 46': '45611254',
 '여수시 대학로 37': '45616984',
 '여수시 대학로 18-1': '45634180',
 '여수시 대학로 41-1': '45616983',
 '여수시 대학로 45-1': '45616982',
 '여수시 대학로 27': '45622715',
 '여수시 대학로 20': '45634180',
 '여수시 대학로 23-1': '45628446',
 '여수시 대학로 41': '45616983',
 '여수시 대학로 45': '45611252',
 '여수시 대학로 29': '45622715',
 '여수시 대학로 18': '45634180',
 '여수시 대학로 21': '45628446',
 '여수시 대학로 12': '45639923',
 '여수시 대학로 6': '45645673',
 '여수시 대학로 11': '45639922',
 '여수시 대학로 39': '45616984',
 '여수시 대학로 15-1': '45634179',
 '여수시 대학로 2': '45651430',
 '여수시 대학로 19': '45628446',
 '여수시 대학로 25': '45622715',
 '여수시 대학로 13': '45634179',
 '여수시 대학로 16': '45634180',
 '여수시 대학로 15': '45634179',
 '여수시 대학로 43': '45616983',
 '여수시 대학로 23': '45628446',
 '여수시 대학로 24': '45628447',
 '여수시 덕양로 21-18': '45756349',
 '여수시 덕양로 157': '45593942',
 '여수시 덕양로 114': '45657078',
 '여수시 덕양로 97-9': '45662840',
 '여수시 덕양로 389': '45370820',
 '여수시 덕양로 96': '45686015',
 '여수시 덕양로 448-2': '45308158',
 '여수시 덕양로 430-1': '45325227',
 '여수시 덕양로 448-4': '45308158',
 '여수시 덕양로 438': '45319535',
 '여수시 덕양로 401': '45353709',
 '여수시 덕양로 398': '45359412',
 '여수시 덕양로 424-3': '45325228',
 '여수시 덕양로 466-1': '45285422',
 '여수시 덕양로 439-1': '45319534',
 '여수시 덕양로 448-5': '45308158',
 '여수시 덕양로 172': '45605404',
 '여수시 덕양로 437-2': '45319535',
 '여수시 덕양로 422': '45330921',
 '여수시 덕양로 146': '45628329',
 '여수시 덕양로 339': '45422236',
 '여수시 덕양로 434-1': '45319536',