In [83]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
pd.set_option('display.max_columns',None)

import geopandas as gpd
gpd.options.use_pygeos = True

from tqdm.auto import tqdm
import matplotlib.pyplot as plt
import seaborn as sns

# 유동인구

In [85]:
flow = pd.read_csv('./data/flow_pop/yeosoo_202501.repair/yeosoo_flow_age_time_202501.csv',sep='|')
flow.head()

,id,x,y,type,timezn_cd,m00,m10,m15,m20,m25,m30,m35,m40,m45,m50,m55,m60,m65,m70,f00,f10,f15,f20,f25,f30,f35,f40,f45,f50,f55,f60,f65,f70,total,admi_cd,etl_ymd
0,44037496,1.018884e+06,1.656679e+06,1,0,0.0,0.0,0.0,0.03,0.0,0.0,0.00,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.03,46130830,20250101
1,44037496,1.018884e+06,1.656679e+06,1,0,0.0,0.0,0.0,0.00,0.0,0.0,0.03,0.0,0.00,0.00,0.03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.06,46130830,20250104
2,44037496,1.018884e+06,1.656679e+06,1,0,0.0,0.0,0.0,0.00,0.0,0.0,0.03,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.03,46130830,20250105
3,44037496,1.018884e+06,1.656679e+06,1,0,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0.03,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.03,46130830,20250111
4,44037496,1.018884e+06,1.656679e+06,1,0,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0.00,0.03,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.03,46130830,20250112

In [88]:
flow.columns

Index(['id', 'x', 'y', 'type', 'timezn_cd', 'm00', 'm10', 'm15', 'm20', 'm25',
       'm30', 'm35', 'm40', 'm45', 'm50', 'm55', 'm60', 'm65', 'm70', 'f00',
       'f10', 'f15', 'f20', 'f25', 'f30', 'f35', 'f40', 'f45', 'f50', 'f55',
       'f60', 'f65', 'f70', 'total', 'admi_cd', 'etl_ymd'],
      dtype='object')

In [87]:
flow['id']

0           44037496
1           44037496
2           44037496
3           44037496
4           44037496
              ...
34015766    52609200
34015767    52609200
34015768    52609200
34015769    52609200
34015770    52609200
Name: id, Length: 34015771, dtype: int64

In [5]:
# 격자 - 행정동 코드 dict
id_admi_cdict = {k:v for k,v in zip(flow['id'],flow['admi_cd'])}

# 격자

In [17]:
grid = gpd.read_file('yeosu_grid_filtered.geojson')

In [23]:
from sqlalchemy import create_engine
from sqlalchemy.types import Integer
engine = create_engine("postgresql://yeosu:!yeosu12#$@192.168.109.254:32002/yeosu_dm")
grid.to_postgis('yeosoo_grid_50m',con=engine,schema='public',dtype={'id':Integer()})

In [24]:
grid

              id                                           geometry
0       44100906  POLYGON ((127.71517 34.89905, 127.71517 34.899...
1       44100907  POLYGON ((127.71572 34.89905, 127.71572 34.899...
2       44100908  POLYGON ((127.71627 34.89905, 127.71627 34.899...
3       44106180  POLYGON ((127.71408 34.8986, 127.71408 34.8990...
4       44106181  POLYGON ((127.71462 34.8986, 127.71463 34.8990...
...          ...                                                ...
214413  52609199  POLYGON ((127.32412 34.00495, 127.32412 34.005...
214414  52611266  POLYGON ((127.3225 34.0045, 127.3225 34.00495,...
214415  52611267  POLYGON ((127.32304 34.0045, 127.32304 34.0049...
214416  52611268  POLYGON ((127.32358 34.0045, 127.32358 34.0049...
214417  52611269  POLYGON ((127.32412 34.0045, 127.32412 34.0049...

[214418 rows x 2 columns]

In [92]:
import os
import zipfile
import pandas as pd
import gc  # 가비지 컬렉션

# ZIP 폴더 경로
zip_dir = 'data/kcb'
target_name = 'flow_age_time'

# 결과 저장용 (필요 없다면 생략 가능)
results = []

# 폴더 내 모든 zip 파일 순회
for file in os.listdir(zip_dir):
    if not file.endswith('.zip'):
        continue

    zip_path = os.path.join(zip_dir, file)
    print(f"[INFO] Processing: {zip_path}")

    with zipfile.ZipFile(zip_path, 'r') as z:
        # ZIP 내부 파일 목록
        file_list = z.namelist()

        # 특정 CSV 찾기
        target_files = [f for f in file_list if target_name in f.lower() and f.endswith('.csv')]

        if not target_files:
            print(f"  ⚠️ {target_name} 파일이 없습니다.")
            continue

        # CSV 읽기
        with z.open(target_files[0]) as f:
            df = pd.read_csv(f, sep='|')

        print(file)
        display(df.head(2))
        print(f"  ✅ 읽은 데이터: {df.shape}")

        # 메모리 해제
        del df
        gc.collect()

print(f"\n총 {len(results)}개의 ZIP 파일에서 CSV를 읽었습니다.")

[INFO] Processing: data/kcb/kcb_yeosoo_202505.zip
kcb_yeosoo_202505.zip

,id,x,y,type,timezn_cd,m00,m10,m15,m20,m25,m30,m35,m40,m45,m50,m55,m60,m65,m70,f00,f10,f15,f20,f25,f30,f35,f40,f45,f50,f55,f60,f65,f70,total,admi_cd,etl_ymd
0,44037496,1.018884e+06,1.656679e+06,1,0,0.0,0.0,0.0,0.0,0.03,0.0,0.0,0.0,0.03,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.09,46130830,20250503
1,44037496,1.018884e+06,1.656679e+06,1,0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.00,0.03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.03,46130830,20250504

  ✅ 읽은 데이터: (32653742, 36)
[INFO] Processing: data/kcb/kcb_yeosoo_202503.zip
kcb_yeosoo_202503.zip

,id,x,y,type,timezn_cd,m00,m10,m15,m20,m25,m30,m35,m40,m45,m50,m55,m60,m65,m70,f00,f10,f15,f20,f25,f30,f35,f40,f45,f50,f55,f60,f65,f70,total,admi_cd,etl_ymd
0,44037496,1.018884e+06,1.656679e+06,1,0,0.0,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.03,0.0,0.0,0.0,0.0,0.03,46130830,20250301
1,44037496,1.018884e+06,1.656679e+06,1,0,0.0,0.0,0.0,0.0,0.03,0.03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.06,46130830,20250302

  ✅ 읽은 데이터: (32431819, 36)
[INFO] Processing: data/kcb/kcb_yeosoo_202506.zip
kcb_yeosoo_202506.zip

,id,x,y,type,timezn_cd,m00,m10,m15,m20,m25,m30,m35,m40,m45,m50,m55,m60,m65,m70,f00,f10,f15,f20,f25,f30,f35,f40,f45,f50,f55,f60,f65,f70,total,admi_cd,etl_ymd
0,44037496,1.018884e+06,1.656679e+06,1,0,0.0,0.0,0.0,0.00,0.03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.03,46130830,20250602
1,44037496,1.018884e+06,1.656679e+06,1,0,0.0,0.0,0.0,0.03,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.03,46130830,20250604

  ✅ 읽은 데이터: (32776786, 36)
[INFO] Processing: data/kcb/kcb_yeosoo_202507.zip
kcb_yeosoo_202507.zip

,id,x,y,type,timezn_cd,m00,m10,m15,m20,m25,m30,m35,m40,m45,m50,m55,m60,m65,m70,f00,f10,f15,f20,f25,f30,f35,f40,f45,f50,f55,f60,f65,f70,total,admi_cd,etl_ymd
0,44037496,1.018884e+06,1.656679e+06,1,0,0.0,0.0,0.0,0.03,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.03,46130830,20250704
1,44037496,1.018884e+06,1.656679e+06,1,0,0.0,0.0,0.0,0.00,0.0,0.03,0.05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.08,46130830,20250705

  ✅ 읽은 데이터: (35804403, 36)
[INFO] Processing: data/kcb/kcb_yeosoo_202501.zip
kcb_yeosoo_202501.zip

,id,x,y,type,timezn_cd,m00,m10,m15,m20,m25,m30,m35,m40,m45,m50,m55,m60,m65,m70,f00,f10,f15,f20,f25,f30,f35,f40,f45,f50,f55,f60,f65,f70,total,admi_cd,etl_ymd
0,44037496,1.018884e+06,1.656679e+06,1,0,0.0,0.0,0.0,0.03,0.0,0.0,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.03,46130830,20250101
1,44037496,1.018884e+06,1.656679e+06,1,0,0.0,0.0,0.0,0.00,0.0,0.0,0.03,0.0,0.0,0.0,0.03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.06,46130830,20250104

  ✅ 읽은 데이터: (34015771, 36)
[INFO] Processing: data/kcb/kcb_yeosoo_202504.zip
kcb_yeosoo_202504.zip

,id,x,y,type,timezn_cd,m00,m10,m15,m20,m25,m30,m35,m40,m45,m50,m55,m60,m65,m70,f00,f10,f15,f20,f25,f30,f35,f40,f45,f50,f55,f60,f65,f70,total,admi_cd,etl_ymd
0,44037496,1.018884e+06,1.656679e+06,1,0,0.0,0.0,0.0,0.0,0.03,0.03,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.08,0.0,0.0,0.0,0.0,0.03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.17,46130830,20250405
1,44037496,1.018884e+06,1.656679e+06,1,0,0.0,0.0,0.0,0.0,0.00,0.00,0.0,0.03,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.03,46130830,20250413

  ✅ 읽은 데이터: (32006007, 36)
[INFO] Processing: data/kcb/kcb_yeosoo_202502.zip
kcb_yeosoo_202502.zip

,id,x,y,type,timezn_cd,m00,m10,m15,m20,m25,m30,m35,m40,m45,m50,m55,m60,m65,m70,f00,f10,f15,f20,f25,f30,f35,f40,f45,f50,f55,f60,f65,f70,total,admi_cd,etl_ymd
0,44037496,1.018884e+06,1.656679e+06,1,0,0.0,0.0,0.0,0.0,0.03,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.03,46130830,20250202
1,44037496,1.018884e+06,1.656679e+06,1,0,0.0,0.0,0.0,0.0,0.00,0.0,0.03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.03,46130830,20250209

  ✅ 읽은 데이터: (30258737, 36)

총 0개의 ZIP 파일에서 CSV를 읽었습니다.

# 지역경제

In [124]:
kcb = pd.read_csv('./data/kcb/YEOSU_SOHO_STAT_2001-2507.txt',sep='|')
local = pd.read_csv('./data/local_pay/local_pay_202501_09.csv')

### kcb는 이미 집계되어있어서 격자만 붙여서 사용하면 됨
- 산업은 붙여야함..

In [125]:
ind_code = pd.read_csv('data/kcb/YEOSU_IND_CODE.txt', sep='|')

In [42]:
ind_code.head(1)

,SIC_CD,SIC_FST_CLSFY_ITM_NM,SIC_SCND_CLSFY_ITM_NM,SIC_TRD_CLSFY_ITM_NM,SIC_FOUR_CLSFY_ITM_NM
0,A0322,"농업, 임업 및 어업(01~03)",어업,양식어업 및 어업관련 서비스업,어업 관련 서비스업

In [127]:
kcb = pd.merge(kcb, ind_code, left_on='SIC_CD_LV4', right_on='SIC_CD', how='inner').drop(columns='SIC_CD')

drop_cols = [
        'WGS84_X', 'WGS84_Y', 'UTMK_X', 'UTML_Y',
        'RUN_OUT2_CNT', 'TOT_SALES_AMT1_CNT', 'TOT_SALES_AMT2_CNT',
        'TOT_SALES_AMT3_CNT', 'TOT_SALES_AMT4_CNT'
    ]

kcb.drop(columns=drop_cols, inplace=True)

,QID50,BS_YR_MON,SIC_CD_LV4,SIC_FST_CLSFY_ITM_NM,SIC_SCND_CLSFY_ITM_NM,SIC_TRD_CLSFY_ITM_NM,SIC_FOUR_CLSFY_ITM_NM,SHOP_CNT,OP_CNT,NEW_OPN_CNT,RUN_OUT_CNT,TOT_SALE_AMT,TOT_SALES_AMT0_CNT,TOT_SALES_AMT5_CNT
0,46005162,202009,S9691,"협회 및 단체, 수리 및 기타 개인 서비스업(94~96)",기타 개인 서비스업,그 외 기타 개인 서비스업,세탁업,1,1,0,0,1148,0,1
1,46005162,202010,I5611,숙박 및 음식점업(55~56),음식점 및 주점업,음식점업,한식 음식점업,1,1,0,0,2299,0,1
2,46005162,202011,G4744,도매 및 소매업(45~47),소매업; 자동차 제외,"섬유, 의복, 신발 및 가죽제품 소매업",가방 및 기타 가죽제품 소매업,1,1,0,0,504,0,1
3,46005162,202011,I5621,숙박 및 음식점업(55~56),음식점 및 주점업,주점 및 비알코올 음료점업,주점업,1,1,0,0,1766,0,1
4,46005162,202101,G4785,도매 및 소매업(45~47),소매업; 자동차 제외,기타 상품 전문 소매업,그 외 기타 상품 전문 소매업,1,1,0,0,175,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
776917,46152199,202105,G4653,도매 및 소매업(45~47),도매 및 상품 중개업,기계장비 및 관련 물품 도매업,산업용 기계 및 장비 도매업,1,1,0,0,0,1,0
776918,46152199,202105,I5510,숙박 및 음식점업(55~56),숙박업,일반 및 생활 숙박시설 운영업,일반 및 생활 숙박시설 운영업,2,2,0,0,5096,0,2
776919,46152199,202106,S9612,"협회 및 단체, 수리 및 기타 개인 서비스업(94~96)",기타 개인 서비스업,"미용, 욕탕 및 유사 서비스업","욕탕, 마사지 및 기타 신체 관리 서비스업",1,1,0,0,0,1,0
776920,46152199,202108,G4653,도매 및 소매업(45~47),도매 및 상품 중개업,기계장비 및 관련 물품 도매업,산업용 기계 및 장비 도매업,1,1,0,0,0,1,0
776921,46152199,202108,I5621,숙박 및 음식점업(55~56),음식점 및 주점업,주점 및 비알코올 음료점업,주점업,1,1,0,0,205,0,0

In [122]:
drop_cols = [
        'WGS84_X', 'WGS84_Y', 'UTMK_X', 'UTML_Y',
        'RUN_OUT2_CNT', 'TOT_SALES_AMT1_CNT', 'TOT_SALES_AMT2_CNT',
        'TOT_SALES_AMT3_CNT', 'TOT_SALES_AMT4_CNT'
    ]
kcb.drop(columns=drop_cols)

KeyError: "['WGS84_X', 'WGS84_Y', 'UTMK_X', 'UTML_Y', 'RUN_OUT2_CNT', 'TOT_SALES_AMT1_CNT', 'TOT_SALES_AMT2_CNT', 'TOT_SALES_AMT3_CNT', 'TOT_SALES_AMT4_CNT'] not found in axis"

In [62]:
kcb

,QID50,BS_YR_MON,SIC_CD_LV4,SHOP_CNT,OP_CNT,NEW_OPN_CNT,RUN_OUT_CNT,RUN_OUT2_CNT,TOT_SALE_AMT,TOT_SALES_AMT0_CNT,TOT_SALES_AMT1_CNT,TOT_SALES_AMT2_CNT,TOT_SALES_AMT3_CNT,TOT_SALES_AMT4_CNT,TOT_SALES_AMT5_CNT,SIC_FST_CLSFY_ITM_NM,SIC_SCND_CLSFY_ITM_NM,SIC_TRD_CLSFY_ITM_NM,SIC_FOUR_CLSFY_ITM_NM
0,46005162,202009,S9691,1,1,0,0,0,1148,0,0,0,0,0,1,"협회 및 단체, 수리 및 기타 개인 서비스업(94~96)",기타 개인 서비스업,그 외 기타 개인 서비스업,세탁업
1,46005162,202010,I5611,1,1,0,0,0,2299,0,0,0,0,0,1,숙박 및 음식점업(55~56),음식점 및 주점업,음식점업,한식 음식점업
2,46005162,202011,G4744,1,1,0,0,0,504,0,0,0,0,0,1,도매 및 소매업(45~47),소매업; 자동차 제외,"섬유, 의복, 신발 및 가죽제품 소매업",가방 및 기타 가죽제품 소매업
3,46005162,202011,I5621,1,1,0,0,0,1766,0,0,0,0,0,1,숙박 및 음식점업(55~56),음식점 및 주점업,주점 및 비알코올 음료점업,주점업
4,46005162,202101,G4785,1,1,0,0,0,175,0,0,0,1,0,0,도매 및 소매업(45~47),소매업; 자동차 제외,기타 상품 전문 소매업,그 외 기타 상품 전문 소매업
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
776917,46152199,202105,G4653,1,1,0,0,1,0,1,0,0,0,0,0,도매 및 소매업(45~47),도매 및 상품 중개업,기계장비 및 관련 물품 도매업,산업용 기계 및 장비 도매업
776918,46152199,202105,I5510,2,2,0,0,0,5096,0,0,0,0,0,2,숙박 및 음식점업(55~56),숙박업,일반 및 생활 숙박시설 운영업,일반 및 생활 숙박시설 운영업
776919,46152199,202106,S9612,1,1,0,0,1,0,1,0,0,0,0,0,"협회 및 단체, 수리 및 기타 개인 서비스업(94~96)",기타 개인 서비스업,"미용, 욕탕 및 유사 서비스업","욕탕, 마사지 및 기타 신체 관리 서비스업"
776920,46152199,202108,G4653,1,1,0,0,1,0,1,0,0,0,0,0,도매 및 소매업(45~47),도매 및 상품 중개업,기계장비 및 관련 물품 도매업,산업용 기계 및 장비 도매업
776921,46152199,202108,I5621,1,1,0,0,0,205,0,0,0,0,1,0,숙박 및 음식점업(55~56),음식점 및 주점업,주점 및 비알코올 음료점업,주점업

## 지역화폐 포맷
|column |description|ref|
|---|---|---|
|id |격자 ID| 유동인구 격자 ID와 동일|
|std_date|기준연월|YYYYMM|
|ind_nm|업종|kcb와는 업종명이 다를 것|
|total_amt|결제액|원 단위|
|geometry|GIS정보|Polygon, 4326|

In [63]:
local['결제년월일'] = pd.to_datetime(local['결제년월일'])
local['결제년월']= local['결제년월일'].dt.strftime('%Y-%m')

## 지역화폐 할 것
- 가맹점명 : 가맹점주소 : 위경도 좌표 데이터 수령 후
- 격자에 위경도 좌표 입혀서 GID가 뭔지 알아내기
- 최종형태 : {가맹점명 : GID}
- GID 별 집계

In [64]:
local

,번호,회원ID,성별,생년월일,거주지주소,가맹점명,업종,결제년월일,가맹점주소,결제금액,결제년월
0,1,20190121101715004831,여,19771201,경기도시흥시,송도회센타,기타,2025-04-05,전라남도 여수시 여객선터미널길 24 (교동) -,72000,2025-04
1,2,20190121101715004831,여,19771201,경기도시흥시,청정젓갈,기타,2025-04-05,전라남도 여수시 여객선터미널길 24(교동. 여수수산시장내) -,50000,2025-04
2,3,20190121101715004831,여,19771201,경기도시흥시,청정젓갈,기타,2025-04-05,전라남도 여수시 여객선터미널길 24(교동. 여수수산시장내) -,10000,2025-04
3,4,20190221132828062474,남,19700609,전라남도여수시,바른정형외과 내과의원,의료/보건,2025-01-18,전라남도 여수시 시청로 42 (학동) 진남빌딩3층 바른정형외과내과의원,4700,2025-01
4,5,20190221132828062474,남,19700609,전라남도여수시,사랑약국,의료/보건,2025-01-18,전라남도 여수시 시청로 42(학동) -,33100,2025-01
...,...,...,...,...,...,...,...,...,...,...,...
2060945,2060946,20250919152117411310,남,19811105,전라남도여수시,앨리스토리커피여수,카페/베이커리,2025-09-24,전라남도 여수시 대치3길 9(여서동) -,20500,2025-09
2060946,2060947,20250919152117411310,남,19811105,전라남도여수시,이디야 여수 여문점,음식점,2025-09-24,"전라남도 여수시 여서로 164 (여서동) , 1층",16600,2025-09
2060947,2060948,20250922115244389861,여,19810213,전라남도여수시,여수팬다,음식점,2025-09-23,전라남도 여수시 여문문화길 54-1(문수동) -,22400,2025-09
2060948,2060949,20250922154927474752,여,19810115,전라남도여수시,내가조선의국밥이다(내조국신기점),음식점,2025-09-23,전라남도 여수시 새터로 66 (신기동) . 1층,10000,2025-09
2060949,2060950,20250923093011515210,여,19670110,전라남도여수시,황금손 반찬,음식점,2025-09-24,전라남도 여수시 여문문화길 78-1(문수동) -,30400,2025-09

## 지역화폐 가맹점 주소 매핑

In [65]:
local_location = pd.read_excel('data/local_pay/지역화폐 가맹점_gps.xlsx', engine='openpyxl')

In [66]:
from shapely.geometry import Point
local_location = gpd.GeoDataFrame(local_location, geometry=gpd.points_from_xy(local_location['위도'],local_location['경도']),crs=4326)

In [67]:
def get_grid_id(points_gdf, grid_gdf):
    if points_gdf.crs != grid_gdf.crs:
        points_gdf = points_gdf.to_crs(grid_gdf.crs)

    grid_gdf = grid_gdf[['id', 'geometry']].rename(columns={'id': 'grid_id'})

    if not hasattr(grid_gdf, "sindex") or grid_gdf.sindex is None:
        _ = grid_gdf.sindex

    joined = gpd.sjoin(
        points_gdf,
        grid_gdf,
        how="left",
        predicate="intersects"
    )

    joined = joined.drop(columns=["index_right"], errors="ignore")
    joined['grid_id'] = joined['grid_id']
    return joined

In [68]:
local_mapping = get_grid_id(local_location,grid)
local_grid_id = {k:v for k,v in zip(local_mapping['가맹점명'],local_mapping['grid_id'])}
local['grid_id'] = local['가맹점명'].map(local_grid_id)

In [77]:
import json
with open('local_grid_id.json','w') as f:
    json.dump(local_grid_id, f, indent=4, ensure_ascii=False)

In [110]:
local['std_ym'] = pd.to_datetime(local['결제년월']).dt.strftime("%Y%m")
local.groupby(['업종','grid_id','std_ym'],as_index=False).agg(
    pay_cnt = ('번호','count'),
    pay_amt = ('결제금액','sum')
)[['grid_id','std_ym','업종','pay_cnt','pay_amt']]

KeyError: '결제년월'

# 인구

In [9]:
pop_location = pd.read_excel('data/population/JUMIN_01.xlsx')

In [10]:
pop_location

,JUMIN_HEAD_SID,JUMIN_HEAD_SID_SNO,JUMIN_ADMDNG_CODE,JUMIN_REGN_CODE,JUMIN_STATE_CODE,JUMIN_INPORT_YMD,JUMIN_SAN,JUMIN_BUNJI,JUMIN_HO,열3,열4,JUMIN_RD_CODE,열1,JUMIN_BDNG_ORGNO,JUMIN_BDNG_SUBNO,열2,열22,열23,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,61010115VJpUWSXvqmlDURJtJEOjA==,0,4613031000,4613031028,10,20111121.0,1.0,70.0,70.0,NaN,NaN,4.613023e+11,엑스포대로,2034.0,NaN,여수시 엑스포대로 2034,127.618997,34.817885,NaN,NaN,여수시 엑스포대로 2034,127.618997,34.817885
1,6604301AgyoY3FtZc2uh12sS040ng==,0,4613076500,4613012600,10,20130701.0,1.0,NaN,NaN,NaN,NaN,4.613023e+11,엑스포대로,357.0,NaN,여수시 엑스포대로 357,127.748270,34.756469,NaN,NaN,여수시 엑스포대로 357,127.748270,34.756469
2,9306131nkf9jC7zqxjgitMnZtKZZQ==,0,4613025100,4613025030,10,20230925.0,1.0,NaN,NaN,NaN,NaN,4.613023e+11,엑스포대로,71.0,NaN,여수시 엑스포대로 71,127.747800,34.732965,NaN,NaN,여수시 엑스포대로 71,127.747800,34.732965
3,7510191t15MsZ/AhgRsQtTiyUz9RQ==,0,4613051500,4613010100,10,20220708.0,1.0,NaN,NaN,NaN,NaN,4.613023e+11,여수시민로,8.0,NaN,여수시 여수시민로 8,127.750394,34.736451,NaN,NaN,여수시 여수시민로 8,127.750394,34.736451
4,5707061KrdmBdADZQhoM+4QvREJmQ==,0,4613083000,4613014700,10,20170803.0,1.0,770.0,NaN,NaN,NaN,4.613023e+11,이순신대로,214.0,60.0,여수시 이순신대로 214-60,127.723902,34.875049,NaN,NaN,여수시 이순신대로 214-60,127.723902,34.875049
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127702,7109242GP8tezQXK7XLxBsIowmIyg==,0,4613082000,4613015100,10,20200129.0,2.0,NaN,NaN,NaN,NaN,NaN,호명동,161.0,1.0,전라남도 여수시 호명동 산161-1,127.711320,34.798240,NaN,NaN,NaN,NaN,NaN
127703,7408201+hdyHagQ4pEfSK3qDyXkQw==,0,4613082000,4613015100,10,20190329.0,2.0,NaN,NaN,NaN,NaN,NaN,호명동,161.0,1.0,전라남도 여수시 호명동 산161-1,127.711320,34.798240,NaN,NaN,NaN,NaN,NaN
127704,7608301Xdg4PoqPpio53RVl5u4rdA==,0,4613025100,4613025030,10,20250210.0,1.0,NaN,NaN,NaN,NaN,NaN,돌산읍 우두리,666.0,83.0,전라남도 여수시 돌산읍 우두리 666-83,127.744690,34.721104,NaN,NaN,NaN,NaN,NaN
127705,8303202cp5eJtJDOVM8PnsOvWsI5A==,0,4613065500,4613011500,10,19960513.0,1.0,NaN,NaN,NaN,NaN,NaN,봉산동,651.0,NaN,전라남도 여수시 봉산동 651,127.722690,34.737378,NaN,NaN,NaN,NaN,NaN
127706,9102232xLPB6HNkKhWG9La2ojRYoQ==,0,4613036000,4613036025,10,20000124.0,2.0,NaN,NaN,NaN,NaN,NaN,삼산면 초도리,390.0,NaN,전라남도 여수시 삼산면 초도리 산390,127.247828,34.237894,NaN,NaN,NaN,NaN,NaN

In [80]:
grid

              id                                           geometry
0       44100906  POLYGON ((127.71517 34.89905, 127.71517 34.899...
1       44100907  POLYGON ((127.71572 34.89905, 127.71572 34.899...
2       44100908  POLYGON ((127.71627 34.89905, 127.71627 34.899...
3       44106180  POLYGON ((127.71408 34.8986, 127.71408 34.8990...
4       44106181  POLYGON ((127.71462 34.8986, 127.71463 34.8990...
...          ...                                                ...
214413  52609199  POLYGON ((127.32412 34.00495, 127.32412 34.005...
214414  52611266  POLYGON ((127.3225 34.0045, 127.3225 34.00495,...
214415  52611267  POLYGON ((127.32304 34.0045, 127.32304 34.0049...
214416  52611268  POLYGON ((127.32358 34.0045, 127.32358 34.0049...
214417  52611269  POLYGON ((127.32412 34.0045, 127.32412 34.0049...

[214418 rows x 2 columns]

# 좌표로 격자ID 넣기

In [ ]:
# 1️⃣ 좌표계 통일 (예: UTM 5186)
if points_gdf.crs != grid_gdf.crs:
    points_gdf = points_gdf.to_crs(grid_gdf.crs)

# 2️⃣ 필요 컬럼만 남기기 (성능 최적화)
grid_gdf = grid_gdf[['grid_id', 'geometry']]

# 3️⃣ 공간 인덱스가 없으면 생성 (대용량 대비)
if not hasattr(grid_gdf, "sindex") or grid_gdf.sindex is None:
    _ = grid_gdf.sindex

# 4️⃣ 공간 조인 (경계 포함)
points_with_grid = gpd.sjoin(
    points_gdf,
    grid_gdf,
    how="left",             # 모든 포인트 유지
    predicate="intersects"  # 격자 경계 포함
)

# 5️⃣ 결과 정리
points_with_grid = points_with_grid.drop(columns=["index_right"])

In [7]:
import pandas as pd
import json

parsed = json.loads(a)
df = pd.DataFrame(parsed['results'], columns = [f['name'] for f in parsed['fields']])

In [12]:
for i in df.columns:
    print(i)

S_NODE_NAME
T_NODE_NAME
SOURCE_ID
SOURCE
TARGET_ID
TARGET
WEIGHT

In [8]:
df

    S_NODE_NAME T_NODE_NAME  SOURCE_ID SOURCE  TARGET_ID TARGET WEIGHT
0            전입          지역          0    순천시          1    쌍봉동     23
1            전입          지역          0    순천시          1    시전동     21
2            전입          지역          0    광양시          1    시전동     17
3            전입          지역          0    순천시          1    여천동     11
4            전입          지역          0    순천시          1    율촌면     10
..          ...         ...        ...    ...        ...    ...    ...
162          지역          전출          1    쌍봉동          2    해남군      1
163          지역          전출          1    묘도동          2    광양시      1
164          지역          전출          1    문수동          2    보성군      1
165          지역          전출          1    미평동          2    광양시      1
166          지역          전출          1    여서동          2    목포시      1

[167 rows x 7 columns]